body {
    width: 100vw;
    font-family: 'Lato', sans-serif;
}
.container__background-image {
    background-image: url("../Assets/Content.png");
    background-repeat: no-repeat;
    background-size: cover;
}