html, body, #root {
    box-sizing: border-box;
    width: 100%;
    font-family: 'Lato', sans-serif;
}
.container__background-image {
    background-image: url("../Assets/Content.png");
    background-repeat: no-repeat;
    background-size: cover;
}