.content {
    margin: 200px auto 0;
    color: white;
    font-weight: 700;
    height: 557px;
    @media (max-width: 500px) {
        width: 90vw;
        font-size: 42px;
    }
    @media (min-width: 501px) AND (max-width: 700px) {
        width: 80vw;
        font-size: 52px;
    }
    @media (min-width: 701px) {
        width: 60vw;
        font-size: 72px;
    }
    &__button {
        font-size: 1rem;
        padding: 15px 20px;
        background-color: #fec74e;
        letter-spacing: 1px;
        border: none;
        font-weight: 700;
        color: white;
        margin-top: 20px;
    }
}